/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese);

/* Variables */
@sidebar-width: 400px;
@sidebar-width-mobile: 100%;
@background-main: #262b31;
@font-family-sans-serif: 'Open Sans', sans-serif;
@brand-primary: #7cc576;

/* Styles */
@import "./home";
@import "./topic";
@import "./sidebars";
@import "./mobile";

/* Third Party */
@import "./pace";

/* Overrides */
body {
	padding-top: 50px;
}

.forum-title {
	cursor: pointer;
}

.navbar {
	margin-bottom: 0;
}